body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.student-main {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.student-form {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 900px;
    padding: 30px 40px;
    border-radius: 8px;
}

.form-row {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: black;
}

.form-control {
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 520px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
    background-color: #ffffff;
    color: black;
}

input[type="date"] {
    width: 180px;
}

.dob-gender {
    display: flex;
    align-items: center;
    gap: 70px;
}

.gender-label {
    font-size: 14px;
    color: black;
}

.radio-group {
    display: flex;
    gap: 20px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.input-telephone{
    width: 180px;
}

button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #187bcd;
}

.form-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

table {
    width: 720px;
    margin: 0px auto;
    border-collapse: collapse;
    font-size: 14px;
}

table th {
    padding: 10px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    text-align: center;
}

table td {
    padding: 10px;
    color: black;
    text-align: center;
}

hr {
    margin: 0px 130px;
}

.form-submit {
    display: flex;
    justify-content: right;
    padding-right: 130px;
    margin-top: 30px;
}